.cartView {
    @include flex (column,flex-start,space-evenly);
    gap: 10px;
    margin: 20px;
    padding: 5px;
    p {
        font-size: 25px;
        font-size: bold;
    }
}


.link_buton {
    margin: 15px;
    font-size: 20px;
    width: auto;
    background-image: linear-gradient(90deg,#5868de 20%, #68dcb9 70%);
    padding: 5px;
    border-color: black;
    box-shadow: 5%;
    border-radius: 5%;
    cursor: pointer;
    &:hover{
        color: beige;
    }
    text-align: center;
}

.link_buton_remove {
    margin: 15px;
    font-size: 20px;
    width: 30px;
    background-image: linear-gradient(90deg,#5868de 20%, #68dcb9 70%);
    padding: 5px;
    border-color: black;
    box-shadow: 5%;
    border-radius: 5%;
    cursor: pointer;
    &:hover{
        color: rgb(219, 51, 9);
    }
    text-align: center;
}