.header {
    background-image: linear-gradient(90deg,#5868de 20%, #68dcb9 70%);
}
.container {
    max-width: 100%;
    padding: 10px;
    @include flex (null,center,space-between);
    img {
        @include imagenes (100px,100px,cover);
    }
    h1 {
        margin: 10px;
    }
    .navbar {
        display: flex;
        gap: 20px;
        padding: 20px;
        margin-left: auto;
        &__link {
            text-decoration: none;
            color: rgba(52, 52, 52, 0.902);
            font-weight: 700;
            font-size: 24px;
            background-image: linear-gradient(125deg, rgba(43, 40, 41, 0.103), rgba(65, 65, 70, 0.11));
            background-position: 50% 100%;
            background-repeat: no-repeat;
            background-size: 0% 40%;
            transition: background-size 0.3s;
            &:hover {
                color:#2e28d4;
                background-image: linear-gradient(125deg, rgba(7, 7, 7, 0.466), rgba(26, 26, 27, 0.308));
                background-size: 100% 100%;
                border-radius: 15px;
            }
        }
    }
}


