
@mixin imagenes ($width, $height, $object) {
    width: $width;
    height: $height;
    object-fit: $object;
}

@mixin flex ($direction, $align, $justify) {
	display: flex;
	flex-direction: $direction;
	align-items: $align;
	justify-content: $justify;
}

